body
{
	background: url("images/background.png");
	background-repeat: repeat;
}
.section
{
	width: 100%;
	height: 100%;
	position: relative;
}
.container
{
	width: 1000px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  	top: 50%;
  	margin-top: -300px;
}
#gameDiv
{
	position: relative;
	width:800px;
	height: 600px;
	background-color: white;
	float: left;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
}
#itemsDiv
{
	position: relative;
	display: inline-block;
	width: 100px;
	height: 240px;
	background-color: rgba(255,255,255,0.96);
	margin-left: 20px;

	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
}
#gameCanvas
{
	background-color: white;
	position: absolute;
	top: 0;
}
#scoreDiv
{
	width: 100px;
	text-align: center;
	font-size: 54px;
}
#speedDiv
{
	width: 100px;
	text-align: center;
	font-size: 26px;
	margin-top: 10px;
}
#menu
{
	width: 100%;
	height: 100%;
	color: white;
}
#instructions
{
	background-color: #fe57a1;
	width: 100%;
	height: 100%;
	color: white;
}
#buttons
{
	width: 150px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}
button
{
	width: 150px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 75px;
	border: 1px solid #fe57a1;
	background-color: white;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
	cursor: pointer;
	font-size: 14px;
	color: #fe57a1;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
}
button:hover
{
	background-color: #fe57a1;
	color: white;
}
button:active
{
	background-color: #fe57a1;
	color: white;
}
button:focus 
{
	outline:0;
}
#instructionsContent
{
	width: 250px;
	height: 100px;
	margin-left: 20px;
	padding-top: 10px;
}

.scoreDivInfo
{
	font-size: 14px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.35);
}

.colorsBox
{
	width: 100px;
	position: absolute;
	bottom: 0;
}
.cBox
{
	width: 33.3px;
	height: 33.3px;
	background-color: blue;
	display: inline-block;
	float: left;
}
.cBox:hover
{
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.35);
}
#cBoxPink
{
	background-color: #fe57a1;
}
#cBoxOrange
{
	background-color: #F2A12C;
}
#cBoxLemon
{
	background-color: #E4EC7D;
}
#cBoxSky
{
	background-color: #29E5D7;
}
#cBoxYellow
{
	background-color: #CCC902;
}
#cBoxBlack
{
	background-color: #000000;
}